NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXTRADEFINX_BETA_MODE=invite_only
NEXTRADEFINX_TERMS_VERSION=2026-08-beta1
NEXTRADEFINX_PRIVACY_VERSION=2026-08-beta1
NEXTRADEFINX_RISK_VERSION=2026-08-beta1
NEXTRADEFINX_LIVE_EXECUTION=false
NEXTRADEFINX_CLIENT_FUNDS=false
NEXTRADEFINX_LEVERAGE=false
NEXTRADEFINX_PERSONALIZED_ADVICE=false
NEXTRADEFINX_BROKER_CONNECTIVITY=false
