[Unit]
Description=Run IZAKHONO Infrastructure Executor continuously

[Timer]
OnBootSec=45s
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=izakhono-infrastructure-executor.service

[Install]
WantedBy=timers.target
