NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_PUBLIC_ANON_KEY
NEXT_PUBLIC_BETA_MODE=invite_only
NEXT_PUBLIC_TERMS_VERSION=beta-1
NEXT_PUBLIC_PRIVACY_VERSION=beta-1
NEXT_PUBLIC_RISK_VERSION=beta-1
RLS_ISOLATION_TEST_PASSED=false
CONSENT_FLOW_TEST_PASSED=false
ACCOUNT_DELETION_TEST_PASSED=false
LIVE_EXECUTION_ENABLED=false
CLIENT_FUNDS_ENABLED=false
LEVERAGE_ENABLED=false
PERSONALIZED_ADVICE_ENABLED=false
BROKER_CONNECTIVITY_ENABLED=false
